{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",
    "func-names": ["error", "never"],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "camelcase": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "no-else-return": "off",
    "indent": ["error", 2],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "func-style": ["error", "declaration"],
    "max-len": ["error", { "code": 120 }],
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "ignore",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "d3": false,
    "axios": false
  }
}
