{% extends '_base.html' %}

{% block content %}
    <div class="page-container">
		<div class="modal-dialog">
			<div class="login-form">
                {% if validlink %}
                    <h3 class="text-center">Change password</h3>
                    <form method="post" class="modal-body form-horizontal">
                        {% csrf_token %}
{#                        {{ form.as_p }}#}

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="new_password1">New password:</label>
                            <div class="col-md-9">
                                <input type="password"
                                       name="new_password1"
                                       class="form-control"
                                       placeholder="New password">
                            </div>
                        </div>
                        {{ form.new_password1.help_text | safe }}
                        {{ form.errors.new_password2 }}
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="new_password2">New password confirmation:</label>
                            <div class="col-md-9">
                                <input type="password"
                                       name="new_password2"
                                       class="form-control"
                                       placeholder="New password confirmation">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-green btn-block">Change password <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
