{% extends "base.html" %}
{% load compile_static %}
{% load static %}
{% block content %}
<!-- Page content -->
<div id="page-content">
    <!-- Blank Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-brush"></i>{{ evento.title }}<br><small>{{ evento.mensagem }}</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="{% url 'principal:home' %}">PDC</a></li>
        <li><a href="{% url 'atividades:index' %}">Atividade</a></li>
        <li>Detalhes</li>
    </ul>
    <!-- END Blank Header -->

    <!-- Example Block -->
    <div class="block">
        <!-- Example Title -->
        <div class="block-title">
            <h2>{{ evento.slug }}</h2>
        </div>
        <!-- END Example Title -->

        <!-- Example Content -->
        <p>
            <ul>
                <li>Candidato: {{ evento.id_candidato }}</li>
                <li>Usuario: {{ evento.Id_User }}</li>
                <li>Criado em: {{ evento.created_at }}</li>
                <li>Atualizado em: {{ evento.updated_at}}</li>
                <li>Importância: {{ evento.Importancia }}</li>
                <li>Origem: {{ evento.origem }}</li>
                <li>Referência: {{ evento.reference }}</li>
            </ul>
        <br>
        {{ evento.about|linebreaks }}
        </p>
        <!-- END Example Content -->
    </div>
    <!-- END Example Block -->
</div>
<!-- END Page Content -->
{% endblock %}