.form-group .form-control {
	background: white;
	height: 45px;
	border-radius: 5px;
	box-shadow:inset 0px 1px 1px 0px rgba(136, 136, 136, 0.2);
	border: 1px solid #bbb9b9;		
}
.form-group .control-label {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 7px;
}
@media(min-width: 1020px){
	.container {
		width: 1000px;
	}
	.team-member {
		padding: 0px 235px;
	}
}
.form-group .btn-previous {
	background: #CBCFD2;
	color: #9E9E9E;
}
.form-group .btn-next {
	background: #428BCA;
	color: white;		
}
.form-group .btn {
	border: 1px solid #428BCA;
	border-radius: 5px;
	font-size: 18px;
	width: 140px;
	margin: 0px 0px 0px 18px;
	height: 45px;
}
.form-group {
	margin-bottom: 30px;
}
.configurations-heading {
	font-size: 17px;
    font-weight: 500;
    color: #ababab;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(187, 185, 185, 0.36);

}
.configurations-text {
	background: #F5F5F5;
    padding: 25px 20px;
    font-size: 14px;
    color: rgb(89, 88, 88);
    border-bottom: 1px solid rgba(231, 227, 227, 0.23);
}
.breadcrumb-line-component {
	box-shadow: 0px 1px 6px 0px #37474F;
    border: 1px solid #37474F;
    border-radius: 0px;
}
.form-step {
	display: none;
}

.step {
  	display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.step.active {
  	opacity: 1;
}
.step.finish {
  	background-color: #4CAF50;
}
.steps {
    position: relative;
    display: block;
    padding: 50px;
}
.tablist {
	display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}
.step .list {
	border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 40px;
    font-size: 20px;
    color: gray;
    padding: 10px 16px;
}
.tablist .step.active .list {
    display: none;
}
.tablist .step .current {
    display: none;
}
.tablist .step .list-done {
    display: none;
}
.tablist .done .list {
    display: none;
}
.tablist .step.done .list-done {
    border: 3px solid #56C0E0;
    background: #56C0E0;
    border-radius: 40px;
    color:  white;
    padding: 15px 12px;
    display: inline;
}
.tablist .step.done {
	padding-top: 7px;
}
.tablist .step.active .list-done{
	display: none;
}
.tablist .step.active .current{
	border: 3px solid #56C0E0;
    border-radius: 40px;
    color:  #56C0E0;
    padding: 15px 12px;
    display: inline;
}
.tablist .step .glyphicon {
	font-size: 21px;
}
.tablist .step.active {
	padding-top: 7px;
}
.tablist hr {
	margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    width: 160%;
    margin-left: -30%;
}
.tablist h6 {
	font-weight: bold;
	margin-top: 15px;
}

.page-heading {
	font-size: 35px;
}
.page-breadcrumb {
	padding: 80px 0px;
	color: black;
}

.glyphicon-calendar {
	font-size: x-large;
    top: 38px;
    right: 50px;
}
.form-dob {
	padding-left: 50px;
	box-shadow: inset 2px 2px 25px 15px rgba(136, 136, 136, 0.2) !important;
}
input[type="file"] {
    display: none;
}
.file-input {
	margin: 6px 0px 0px;
	box-shadow: inset 2px 2px 25px 15px rgba(136, 136, 136, 0.2) !important;
}
.p-0 {
	padding: 0px !important;
}
.form-group.col-lg-8 {
	height: 44px;
}
.icon-bordered {
	padding: 3px;
    border: 2px solid;
    font-size: 12px;
    border-radius: 50%;
}
.table-heading {
	background: #F5F5F5;
}
.table-text {
	background: white;
	border-bottom: 1px solid rgba(187, 185, 185, 0.36);
}
.table-condensed thead {
	background: #F5F5F5;
	border-bottom: 1px solid rgba(187, 185, 185, 0.36);
}
.team-member .btn-down {
	background: #5CB85C;
	border: 1px solid #5CB85C !important;
	font-size: 20px !important;
	font-weight: 800;
	width: 100% !important;
	color: white;
	margin: 0px !important;
}
.glyphicon-chevron-down {
	margin-left: 30px;
	font-size: 25px;
}
.check-box {
	margin: 0px 20px !important;
	zoom:1.3;
}
.glyphicon-remove-sign {
	color: #DC5A53;
	font-size: 20px;
}
.nav-tabs li a {
	border-radius: 4px 4px 0px 0px;
}
.proposal-description {
	height: 200px !important;
}
.right-btn {
	background: #5CB85C;
	color: white;
	border-radius: 4px;
	width: 100%;
	border: 1px solid #5CB85C;
}
.glyphicon-chevron-right {
	font-size: 30px;
}
.btn-right {
	padding: 30px 10px;
}
.right-btn {
	height: 300px;
}
.proposal-list {
	height: 300px;
    margin: 8px 0px;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: inset 0px 1px 1px 0px rgba(136, 136, 136, 0.2);
    border: 1px solid #bbb9b9;
}
.add-keywords {
	background: #5CB85C;
	border: 1px solid #5CB85C !important;
	font-size: 20px !important;
	font-weight: 800;
	width: 100% !important;
	color: white;
	margin: 6px 0px !important;
}
.keyword-desc {
    padding: 2px 10px;
    border-radius: 4px;
    margin: 0px 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.positive {
	border: 1px solid #5cb85c;
    background: #5cb85c;   
}
.negative {
	border: 1px solid #D0021B;
    background: #D0021B;   
}
.follow {
	border: 1px solid #F5A623;
    background: #F5A623;   
}
.zoom {
	zoom: 1.3;
}
.keywords-list {
	height: 150px;
    margin: 8px 0px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px 0px rgba(136, 136, 136, 0.2);
    border: 1px solid #bbb9b9;
    padding: 10px;
}
.keywords-list .keyword-desc {
	float: left;
	width: 100px;
	margin: 0px 10px;
	text-align: center;
}
.presentation a {
	color: #56C0E0;
}
.proposal-item {
	width: 100%;
    padding: 7px 10px;
    font-size: 16px;
    color: black;
}
.proposal-item .glyphicon {
	float: right;
}
.proposal-item.odd {
	background: #f1eeee;
}
.panel {
	display: flow-root;
}