{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}


  <div class="breadcrumb-line breadcrumb-line-component">
    <ul class="breadcrumb">
      <li><a href="#"><i class="icon-home2 position-left"></i> Sala de Situação</a></li>
      <li><a href="#">Página não Encontrada</a></li>
    </ul>

    <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Fale Conosco</a></li>
    </ul>
  </div>

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

          <!-- Error title -->
          <div class="text-center content-group">

            <img src="{% static 'images/tenor.gif' %}" alt="ERRO 500">
            <h5>Oops, aconteceu um erro. Erro Interno do Servidor</h5>
              <h6>Tente acessar novamente ou chame o suporte.</h6>
          </div>
          <!-- /error title -->


          <!-- Error content -->
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
              <form action="#" class="main-search">
                <div class="input-group content-group">
                  <input type="text" class="form-control input-lg" placeholder="Procurar">

                  <div class="input-group-btn">
                    <button type="submit" class="btn bg-slate-600 btn-icon btn-lg"><i class="icon-search4"></i></button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <a href="/" class="btn btn-primary btn-block content-group"><i
                        class="icon-circle-left2 position-left"></i> Voltar para o Dashboard</a>
                  </div>

                  <div class="col-sm-6">
                    <a href="#" class="btn btn-default btn-block content-group"><i class="icon-menu7 position-left"></i>
                      Procura Avançada</a>
                  </div>
                </div>
                <div class="text-center"><h1 class="error-title">500</h1></div>

              </form>
            </div>
          </div>
          <!-- /error wrapper -->


          <!-- Footer -->
          <div class="footer text-muted text-center">
            &copy; 2018. <a href="http://www.scopoonline.com">SM SCOPO - Sistema de Monitoramento Político</a> por <a
              href="http://www.neoplace.com.br" target="_blank">Neoplace Tecnologias Ltda.</a>
          </div>
          <!-- /footer -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->

{% endblock %}
