{% extends '_base_wsb2.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-chess-king position-left"></i> <span class="text-semibold">Início</span> - Sala de Situação
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="/dashboard/stats/" class="btn btn-link btn-float has-text">
            <i class="icon-bars-alt text-primary data-animation="shake"></i><span>Estatísticas</span>
          </a>
          <a href="#" class="btn btn-link btn-float has-text">
            <i class="icon-calculator text-primary"></i><span>Faturas</span>
          </a>
          <a href="#" class="btn btn-link btn-float has-text">
            <i class="icon-calendar5 text-primary"></i><span>Agenda</span>
          </a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="#"><i class="icon-home2 position-left"></i> Início</a></li>
        <li class="active">Sala de Situação</li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Suporte</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Configurações
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Acesso &amp; Segurança </a></li>
            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Acessibilidade</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> Configurações</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
{% endblock %}
