{#{% extends '_base.html' %}#}
{#{% load staticfiles %}#}
{##}
{#{% block content %}#}
{#    <style>#}
{#        .btn-rounded {#}
{#            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);#}
{#            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);#}
{#        }#}
{#    </style>#}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div>Seu registro no scopo.online foi efetuado com sucesso. Parabéns. Por favor, aguarde sua aprovação pelo seu candidato.</div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
{#<script type="text/javascript" src="{% static 'js/pages/dashboard.js' %}"></script>#}
{#{% endblock %}#}
