{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        .btn-rounded {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        }

        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-right: 16px solid green;
          border-bottom: 16px solid red;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        .loder-center {
          position: absolute;
          top: 0;
          left: 0;
          margin: 15% 45%;
          bottom: 0;
          right: 0;
        }

        .loder-layer {
          background-color: rgba(44, 154, 179, 0.65);
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
    </style>
    <div class="page-container">

        <!--Main layout-->
        <div class="container">

            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.4s" style="margin-top: 50px;">

                <fieldset class="content-group text-center">
                    <legend class="text-bold">Account Settings</legend>
                </fieldset>

            </div>
            
            <!--/.First row-->

            <!--Second row-->
            <form action="{% url 'profile' %}" method="post" onsubmit="return validateForm();"
                  class="form-horizontal form-bordered"
                  style="max-width: 700px;margin: auto;"
                  name="user-form">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label" for="username">User Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.username }}"
                               name="username"
                               readonly
                               class="form-control" placeholder="User Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="first_name">First Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.first_name }}"
                               name="first_name"
                               class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="last_name">Last Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.last_name }}"
                               name="last_name"
                               class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Email</label>
                    <div class="col-md-9">
                        <input type="email"
                               value="{{ request.user.email }}"
                               name="email"
                               class="form-control"
                               placeholder="Enter Email">
                        <span class="help-block">Please enter your email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="company">Company</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.company.value }}"
                               name="company"
                               class="form-control" placeholder="Enter Company">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="estado">State :</label>
                    <div class="col-md-9">
                        <select name="estado" class="form-control">
                            {% for state in profile_form.estado %}
                                {{ state }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-select">City :</label>
                    <div class="col-md-9">
                        <select class="form-control"  id="id_cidade" name="cidade">
                            {% for city in cities %}
                                {% if selected_city  ==  city.0   %}
                            <option data="{{ city.1 }}" value="{{ city.0 }}" selected>{{ city.1 }}</option>
                                    {% else %}
                            <option value="{{ city.0 }}">{{ city.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="cep">Zipcode</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.cep.value }}"
                               name="cep"
                               class="form-control" placeholder="Enter Zipcode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="address">Address</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.address.value }}"
                               name="address"
                               class="form-control" placeholder="Enter Address">
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="form-group col-md-6">#}
{#                        <label for="address" class="label-light">Address</label>#}
{#                        {{ profile_form.address }}#}
{#                    </div>#}
{#                    <div class="form-group col-md-6">#}
{#                        <label for="cep" class="label-light" name="cep">Zipcode</label>#}
{#                        {{ profile_form.cep }}#}
{#                    </div>#}
{#                </div>#}

                <hr>
                <div class="row prepend-top-default append-bottom-default">
                    <div class="col-md-8">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-styled-left"{% endif %}>{{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="submit" name="commit" value="Update Profile" class="btn btn-success">
                    </div>
                </div>
            </form>
            <!--/.Second row-->

        </div>
        <!--/.Main layout-->

    </div>
    <div class="loder-layer" id="loading">
        <div class="loder-center">
            <div class="loader"></div>
            <h3><b>Loading...</b></h3>
        </div>
    </div>
    <script type="text/javascript">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/cep/js/cep.js"></script>
    <script src="/static/update_profile.js"></script>
{% endblock %}