{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="page-container">

        <!--Main layout-->
        <div class="container">

            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.4s" style="margin-top: 50px;">

                <fieldset class="content-group text-center">
                    <legend class="text-bold">Account Settings</legend>
                </fieldset>

            </div>
            
            <!--/.First row-->

            <!--Second row-->
            <form action="{% url 'profile' %}" method="post" onsubmit="return validateForm();"
                  class="form-horizontal form-bordered"
                  style="max-width: 700px;margin: auto;margin-bottom: 50px"
                  name="user-form">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label" for="username">User Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.username }}"
                               name="username"
                               readonly
                               class="form-control" placeholder="User Name">
                    </div>
                </div>
{#                {{ password_form }}#}
{#                {{ password_form.cleaned_data }}#}
                <div class="form-group">
                    <label class="col-md-3 control-label" for="old_password">Current Password</label>
                    <div class="col-md-9">
                        <input type="password"
                               name="old_password"
                               class="form-control" placeholder="Current Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="new_password1">New Password</label>
                    <div class="col-md-9">
                        <input type="password"
                               name="new_password1"
                               class="form-control" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="new_password2">New Password Confirmation</label>
                    <div class="col-md-9">
                        <input type="password"
                               name="new_password2"
                               class="form-control" placeholder="New Password Confirmation">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="first_name">First Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.first_name }}"
                               name="first_name"
                               class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="last_name">Last Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ request.user.last_name }}"
                               name="last_name"
                               class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Email</label>
                    <div class="col-md-9">
                        <input type="email"
                               value="{{ request.user.email }}"
                               name="email"
                               class="form-control"
                               placeholder="Enter Email">
{#                        <span class="help-block">Please enter your email</span>#}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="company">Company</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.company.value }}"
                               name="company"
                               class="form-control" placeholder="Enter Company">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="estado">State :</label>
                    <div class="col-md-9">
                        {{ profile_form.estado }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-select">City :</label>
                    <div class="col-md-9">
                        <select class="form-control"  id="id_cidade" name="cidade">
                            {% for city in cities %}
                                {% if selected_city  ==  city.0   %}
                            <option data="{{ city.1 }}" value="{{ city.0 }}" selected>{{ city.1 }}</option>
                                    {% else %}
                            <option value="{{ city.0 }}">{{ city.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="cep">Zipcode</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.cep.value }}"
                               name="cep"
                               class="form-control zip-field" placeholder="Enter Zipcode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="address">Address</label>
                    <div class="col-md-9">
                        <input type="text"
                               value="{{ profile_form.address.value }}"
                               name="address"
                               id="address"
                               class="form-control typeahead" placeholder="Enter an address">
                    </div>
                </div>

                <div id="map" class="map-wrapper"></div>
                <div class="form-group" style="margin-top: 30px;">
                    <label class="col-md-3 control-label" for="cellPhone">Telephone</label>
                    <div class="col-md-9">
                        <input type="text"
                               id="telephone"
                               value="{{ profile_form.cellPhone.value }}"
                               name="cellPhone"
                               class="form-control" placeholder="Enter telephone number">
                    </div>
                </div>

                <hr>
                <div class="row prepend-top-default append-bottom-default">
                    <div class="col-md-8">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-styled-left"{% endif %}>{{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="submit" name="commit" value="Update Profile" class="btn btn-success">
                    </div>
                </div>
            </form>
            <!--/.Second row-->

        </div>
        <!--/.Main layout-->

    </div>
    <div class="loder-layer" id="loading">
        <div class="loder-center">
            <div class="loader"></div>
            <h3><b>Loading...</b></h3>
        </div>
    </div>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script type="text/javascript" src="/static/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/pickers/location/typeahead_addresspicker.js"></script>
    <script type="text/javascript" src="/static/js/plugins/pickers/location/autocomplete_addresspicker.js"></script>
    <script src="/static/cep/js/cep.js"></script>
    <script src="/static/update_profile.js"></script>
    <script>
        // Basic initialization, based on Bloodhound
        var addressPicker = new AddressPicker({
            map: {
                id: '#map'
            }
        });

        // instantiate the typeahead UI
        $('#address').typeahead(null, {
            displayKey: 'description',
            source: addressPicker.ttAdapter()
        });

        // Bind some event to update map on autocomplete selection
        $('#address').bind('typeahead:selected', addressPicker.updateMap);
        $('#address').bind('typeahead:cursorchanged', addressPicker.updateMap);
    </script>
{% endblock %}
