{% extends '_base_wsb.html' %}
{#{% extends '_base.html' %}#}
{% load static %}
{% block content %}

  <link href="{% static 'css/plugins/anychart/anychart-ui.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/plugins/anychart/anychart-font.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/stats.css' %}" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="{% static 'js/plugins/anychart/anychart-base.min.js' %}"></script>

  {# gauge #}
  <script type="text/javascript" src="{% static 'js/plugins/anychart/anychart-circular-gauge.min.js' %}"></script>

  {# svg map #}
  <script type="text/javascript" src="{% static 'js/plugins/anychart/map/brazil.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/anychart/map/anychart-map.min.js' %}"></script>

  {# tree map #}
  <script type="text/javascript" src="{% static 'js/plugins/anychart/anychart-treemap.min.js' %}"></script>

  {# amchart #}
  <script type="text/javascript" src="{% static 'js/charts/amcharts/amcharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/charts/amcharts/funnel.js' %}"></script>
  {#  <script type="text/javascript" src="{% static 'js/charts/amcharts/export.min.js' %}"></script>#}
  <link rel="stylesheet" href="{% static 'js/charts/amcharts/export.css' %}" type="text/css" media="all"/>
  <script type="text/javascript" src="{% static 'js/charts/amcharts/light.js' %}"></script>

  {# Limitless theme graphs #}
  <script type="text/javascript" src="{% static 'js/plugins/visualization/echarts/echarts.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
  <style>
    a[href='http://www.amcharts.com'] {
      display: none !important;
    }
    .anychart-credits {
      display: none !important;
    }
  </style>
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><a href="/dashboard/"><i class="icon-arrow-left52 position-left"></i></a>
          <span class="text-semibold">Painel</span> - Estatísticas
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="/dashboard/stats/" class="btn btn-link btn-float has-text">
            <i class="icon-bars-alt text-orange-800 animation" data-animation="shake"></i><span>Estatísticas</span>
          </a>
          <a href="#" class="btn btn-link btn-float has-text">
            <i class="icon-calculator text-primary"></i><span>Faturas</span>
          </a>
          <a href="#" class="btn btn-link btn-float has-text">
            <i class="icon-calendar5 text-primary"></i><span>Agenda</span>
          </a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/dashboard/"><i class="icon-home2 position-left"></i> Painel</a></li>
        <li class="active">Estatísticas</li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Suporte</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Configurações
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Acesso &amp; Segurança </a></li>
            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Acessibilidade</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> Configurações</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-danger alert-styled-left alert-bordered">
        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
        </button>
        <span class="text-semibold">MODO DE DEMONSTRAÇÃO - </span> Estatísticas com apenas 40% de Precisão.
        <a href="#" class="alert-link">Aumente agora para 99.7%</a>.
      </div>
    </div>
  </div>
  <!-- Content Area -->
  <div class="content">

    <!-- General Overview -->
    <div class="row">
      <div class="col-lg-12">
        <h1 align="center">
          Dados de Avaliação para <span id="candidate_desited_position">{{ candidates.0.campaign_desired_position.position }}</span> -
          <span id="candidate_state_campaign">{{ candidates.0.state_campaign|default:"PR" }}</span>
        </h1>
        <h4 align="center">
          Dados de Pesquisa para <strong>{{ candidato.candidato }}</strong> | Pleito: {{ candidato.ballot }}
        </h4>
      </div>
    </div>
    <hr>

    <div class="row">
      <!-- Funnel -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div id="Boxreport">
              <div class="panel panel-info panel-bordered">
                <div class="panel-heading">
                  <h3 class="panel-title">Funil Classificatório de Publicações</h3>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                  <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <p>Índice de Relevância: <code> 87.4 % </code></p>
                    </div>
                    <div class="col-md-6">
                      <p>Última Atualização: <code> Há 6 horas </code></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="row social-group">
                        <div class="social-group_item" style="background: #333333;color: white;"><i
                            class="icon-facebook"></i>
                        </div>
                        <div class="social-group_item" style="background: #333333;color: white;"><i
                            class="icon-youtube3"></i>
                        </div>
                        <div class="social-group_item" style="background: #333333;color: white;"><i
                            class="icon-twitter"></i>
                        </div>
                        <div class="social-group_item" style="background: #333333;color: white;"><i
                            class="icon-google-plus"></i></div>
                        <div class="social-group_item" style="background: #333333;color: white;"><i
                            class="icon-instagram"></i></div>
                      </div>
                      <div id="imagem">
                        {# <img src="{% static 'images/stats/funel_tem.png' %}" width="300">#}
                        <div id="chartdiv"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div id="Boxreport">
              <div class="panel panel-info panel-bordered">
                <div class="panel-heading">
                  <h3 class="panel-title">Nuvem de Palavras Chave</h3>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                  <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </div>

                <div class="panel-body">
                  <div class="tag-cloud">print
                    {% for item in candidato.tags %}
                      <a href="/data.scopo.online/tags/{{ item.tag }}/" class="size-{{ item.size }}">{{ item.tag }}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--here-->
      </div>
      <!-- /funnel -->

      <!-- Comparative candidates -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div id="Boxreport">
              <div class="panel panel-info panel-bordered">
                <div class="panel-heading">
                  <h3 class="panel-title">Comparativo de Intenção/Rejeição</h3>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                  <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <p>Índice de Relevância: <code> 96.4 % </code></p>
                    </div>
                    <div class="col-md-6">
                      <p>Última Atualização: <code> Há 7 horas </code></p>
                    </div>
                  </div>

                  <!-- Line bars -->
                  <div class="chart-container">
                    <div class="chart has-fixed-height" id="basic_bars"></div>
                  </div>
                  <!-- /line bars -->

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div id="Boxreport">
              <div class="panel panel-info panel-bordered">
                <div class="panel-heading">
                  <h3 class="panel-title">Densidade de Citações em Redes Sociais</h3>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                  <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </div>

                <div class="panel-body">
                  <div class="chart-container has-scroll">
                    <div class="chart has-fixed-height has-minimum-width" id="pie_timeline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Comparative candidates -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info panel-bordered">
          <div class="panel-heading">
            <h3 class="panel-title">Analysis result</h3>
            <div class="heading-elements">
              <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
              </ul>
            </div>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
          </div>

          <div class="panel-body">
            <iframe src="http://data.scopo.online/topic_modeling/api/v1.0/posts?name=colloralagoas&type=facebook"
                    style="width: 100%;border: none;height: 900px" id="segment_iframe"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6" style="height: 500px">
        <div id="gauge_container"></div>
      </div>
      <div class="col-lg-6" style="height: 500px">
        <div id="svg_map_container"></div>
      </div>
    </div>

    <!-- /general overview -->

    <!-- Social Network Citations -->
    <div class="row">
      <div class="col-lg-12">
        <div id="tree_map_container" style="height: 700px;"></div>
      </div>
    </div>
    <!-- social network citations -->
  </div>

{% endblock %}
